html, body {
  width: 100%;
  height: 100%;
}

body {
  background-image: url("../image/bg.png");
  background-size: 100% 100%;
}

* {
  margin: 0;
}

.target {
  width: 130px;
  height: auto; /*20px;*/
  background-color: yellow;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  color: green;
  text-align: center;
}

.gun {
  width: 20px;
  height: 100px;
  /*background-color: red;*/
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
}

.controls {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}

#moveLeft {
  margin-right: 30px;
}

.message {
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#shoot {
  margin-right: 30px;
}